{
    "extends": "next/core-web-vitals",
    "rules": {
        "no-unused-vars": [
            "warn",
            {
                "vars": "all",
                "args": "none",
                "ignoreRestSiblings": false
            }
        ],
        "no-var": "warn",
        "prefer-const": "warn",
        "no-console": "warn"
    }
}
